*{
    color: salmon;
}
div.center{

    text-align: center;

}
main{

    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;

}
img{
   
    width: 25%;
    height: 25%;
    border-radius: 12%;

}
div.imagenDescripcion{
    
    margin: 5%;
    

}
div.lista{

    text-align: center;
    align-items: center;

}
div#form{

    text-align: center;
    align-content: center;

}
li{
  
    align-items: center;
}
div.tabla{
    background-color: red;
    align-items: center;
    text-align: center;
    
    margin-left: 33%;
    margin-right: 33%;
}
body{

    background-color: #503d38;
/*    background-image:url(Fotos/perrito.ico);
    background-repeat: repeat-x ;
    background-position: top;*/
}
table{

    background-color: red;
    border-radius: 7%;
    
}
#tabla{
    border-collapse:collapse ;
    border: solid rgb(63, 50, 50);

    
}
td, th{
    background-color: rgb(109, 91, 91);
    border: ridge black;
    height: 12%;
    width: 20%;
}
img.animals{

    border: dotted salmon transparent;
    border-style: dashed;
    border-collapse: collapse;

    transition: border-color 1s ease-in-out;

}
img.animals:hover{

    border-color: red;
}

.relleno{
    background-color: #4b3630;
}